<a href="https://colab.research.google.com/github/xandymelo/Compara-o-Entre-Algoritmos-de-Ordena-o---Projeto-1/blob/main/Projeto1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from random import shuffle
import timeit
from mergeSort import merge_sort
from BinaryInsertion import insertion_sort
from timSort import timsort

Criar o dataframe para um vetor de tamanho 1000

In [ ]:
lista_crescente_1000 = list(range(10000))
lista_decrescente_1000 = list(range(10000))
lista_decrescente_1000 = sorted(lista_decrescente_1000,reverse=True)
lista_aleatoria_1000 = list(range(10000))
shuffle(lista_aleatoria_1000)
listas = [lista_crescente_1000,lista_decrescente_1000,lista_aleatoria_1000]

In [ ]:
times_mergesort = []
for c in listas:
    
    t = timeit.timeit("merge_sort({})".format(c), "from __main__ import merge_sort",number = 8000)
    print(t/8000)
    times_mergesort.append(t/8000)

0.038120866173125025
0.03948545638025007
0.06762331358937501

In [ ]:
times_binsertion_sort = []
for c in listas:
    
    t = timeit.timeit("insertion_sort({})".format(c), "from __main__ import insertion_sort",number = 2000)
    print(t/2000)
    times_binsertion_sort.append(t/2000)

0.8505042493404998
0.7218966586630003
0.8917141174039999

In [ ]:
times_timsort = []
for c in listas:
    
    t = timeit.timeit("timsort({})".format(c), "from __main__ import timsort",number = 8000)
    print (t / 8000)
    times_timsort.append(t / 8000)

0.02424893024512494
0.04365582469087508
0.05674237807875011

In [ ]:
index1 = ["Lista",'Merge Sort','Binary Insertion Sort','Tim Sort']
timeCrescente = ['Crescente',times_mergesort[0],times_binsertion_sort[0],times_timsort[0]]
trocaCrescente = ['',143615, 0,9361]
decrescente = ['Decrescente',times_mergesort[1],times_binsertion_sort[1],times_timsort[1]]
trocaDecrescente = ['',143615,9999,198045]
aleatorio = ['Aleatório',times_mergesort[2],times_binsertion_sort[2],times_timsort[2]]
trocaAleatório = ['',143615,9986,142296]

In [ ]:
algoritmos = {"Tempo": timeCrescente,"Trocas": trocaCrescente,"Tempo2":decrescente, 'Trocas2': trocaDecrescente, "Tempo3":aleatorio, 'Trocas3': trocaAleatório}

In [ ]:
df_1000 = pd.DataFrame(algoritmos, columns = ["Tempo",'Trocas',"Tempo2", 'Trocas2',"Tempo3", 'Trocas3'],index=index1)

In [ ]:
df_1000.columns = ['Tempo', 'Trocas', 'Tempo', 'Trocas', 'Tempo', 'Trocas']

In [ ]:
df_1000.columns = pd.MultiIndex.from_product([['Tamanho 10000'], df_1000.columns])

In [ ]:
df_1000.head()

                      Tamanho 10000          ...
                              Tempo  Trocas  ...      Tempo  Trocas
Lista                     Crescente          ...  Aleatório
Merge Sort                0.0381209  143615  ...  0.0676233  143615
Binary Insertion Sort      0.850504       0  ...   0.891714    9986
Tim Sort                  0.0242489    9361  ...  0.0567424  142296

[4 rows x 6 columns]